/* --- RESPONSIVE MOBILE & TABLET (ĐỒNG BỘ LỀ VÀNG 20PX/40PX) ---  PHẦN NÚT BỘ LỌC*/
@media screen and (max-width: 1023px) {
    main.casa-container {
        display: flex !important;
        flex-direction: column !important;
    }
    
    .casa-filter-wrapper {
        display: block !important;
        position: relative !important;
        width: 100% !important;
        max-width: 100% !important;
        padding: 0 20px !important; /* Lề vàng 20px */
        margin-bottom: 20px;
    }
    
    .casa-filter-vertical-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: max-height 0.4s cubic-bezier(0.16, 1, 0.3, 1), 
                    opacity 0.3s ease;
    }
    
    main.filter-activated .casa-filter-vertical-content {
        max-height: 250px;
        opacity: 1;
        visibility: visible;
        margin-top: 15px;
    }
}