@media (max-width: 1024px) {

    .mobile-nav-viewport {
        flex: 1;
        position: relative;
        overflow-x: hidden; 
    }


    .mobile-overlay a {
    text-decoration: none !important;
}
    
    .has-sub, .no-sub, .sub-nav-item, .has-sub-level-3 {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center;
        padding: 8px 0 !important;
        font-size: 21px !important;
        color: #000;
        cursor: pointer;
        width: 100%;
    }

    .visual-card {
        text-decoration: none !important;
    }

    .has-sub i, .sub-nav-item i, .has-sub-level-3 i {
        font-size: 14px;
        color: #ccc;
    }

    
    .sub-back-trigger {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 13px;
        color: var(--color-text-muted);
        font-weight: 400;
        margin-bottom: 10px;
        cursor: pointer;
    }

    
    .mobile-nav, .sub-menu-layer {
        display: none;
        flex-direction: column;
    }

    .active {
        display: flex !important;
        animation: fadeIn 0.3s ease;
    }

    .sub-group-title {
        font-size: 11px;
        color: #ccc;
        text-transform: uppercase;
        margin: 20px 0 10px 0;
        letter-spacing: 1px;
    }



    @keyframes fadeIn {
        from { opacity: 0; transform: translateX(10px); }
        to { opacity: 1; transform: translateX(0); }
    }
}